@model List<TestApp.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between" >
    <h3>Items</h3>
    <a href="@Context.Request.Path/create">
    <button class="btn btn-primary">Create New Item</button>
</a>

    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Serial Number Code Name 
            </th>
            <th>
                Serial Number ID
            </th>
            <th>
                Catogery
            </th>
            <th>
                Client
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tbody>
            @foreach(var item in Model) 
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.price.ToString("N2") $</td>
                    <td>@item.SerialNumber?.Name</td>
                    <td>@item.SerialNumber?.Id</td>
                    <td>@item.Catogery?.Name</td>
                    <td>
                        @string.Join(" - ", item.ItemClients.Select(client => client.Client.Name))
                    </td>
                    <td>
                        <a class="action-links" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="action-links-del" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </thead>
</table>